<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Amatic+SC" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Fira+Sans:300,600" %>
    <%= javascript_include_tag "site" %>

    <meta property="og:title" content="Rosella & Daniel" />
    <meta property="og:url" content="https://www.rosellandaniel.us" />
    <meta property="og:description" content="Rosella and Daniel are getting married on May 28th, 2017." />
    <meta property="og:image" content="https://www.rosellandaniel.us/images/preview.jpg" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
