<li>
  <picture>
    <source srcset="<%= image_path "gallery/#{image}", resize_to: 200 %> 200w,
                    <%= image_path "gallery/#{image}", resize_to: 400 %> 400w,
                    <%= image_path "gallery/#{image}", resize_to: 800 %> 800w,
                    <%= image_path "gallery/#{image}", resize_to: 1200 %> 1200w">
    <%= image_tag "gallery/#{image}", resize_to: 400 %>
  </picture>
</li>
